@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url("../../themes/valo/fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../../themes/valo/fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("../../themes/valo/fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../../themes/valo/fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../themes/valo/fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("../../themes/valo/fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../../themes/valo/fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../themes/valo/fonts/open-sans/OpenSans-Semibold-webfont.woff") format("woff"), url("../../themes/valo/fonts/open-sans/OpenSans-Semibold-webfont.ttf") format("truetype");
}

body {
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	font-size: 16px;
}

b, strong {
	font-family: "Open Sans",sans-serif;
	font-weight: 600;	
}

p {
	margin : 0px;
}